{% extends "base.html" %}
{% load static %}
{% block title %}Echérari Tours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'appPayment/css/detalles_reservacion.css' %}">
{% endblock extra_styles %}
{% block content %}

<div class="container mt-5">
    <div class="d-flex justify-content-center mb-4">
        <ul class="progressbar">
            <li class="active">
                <span class="circle">1</span>
                <p>Detalles de reservación</p>
            </li>
            <li>
                <span class="circle">2</span>
                <p>Pago</p>
            </li> 
            <li>
                <span class="circle">3</span>
                <p>Finalización</p>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h5>Fecha de reservación</h5>
            <input type="text" class="form-control mb-3" value="2024-10-20" disabled>

            <h5>Fecha que inicia</h5>
            <input type="text" class="form-control mb-3" value="2024-12-01" disabled>

            <h5>Fecha que termina</h5>
            <input type="text" class="form-control mb-3" value="2024-12-07" disabled>

            <h5>Capacidad disponible</h5>
            <div class="input-group mb-3">
                <span class="input-group-text"><img src="{% static 'appPayment/img/user.png' %}" alt="User Icon" width="20"></span>
                <input type="text" class="form-control" value="20 personas" disabled>
            </div>

            <h5>¿Cuánta gente asistirá al tour?</h5>
            <div class="d-flex align-items-center">
                <div>
                    <label>Adulto (18+)</label>
                    <p class="text-success">$4,800.00</p>
                </div>
                <div class="ms-auto">
                    <div class="input-group">
                        <button class="btn btn-outline-secondary" type="button" id="minus">-</button>
                        <input type="number" class="form-control" value="1" id="cantidad-adultos">
                        <button class="btn btn-outline-secondary" type="button" id="plus">+</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Resumen de tus entradas</h5>
                    <div class="d-flex">
                        <img src="{% static 'appPayment/img/cancun.jpg' %}" class="img-thumbnail me-3" alt="Imagen del Tour en Cancún" width="220" height="auto">
                        <div>
                            <p class="fw-bold">Tour Cancún</p>
                            <p><i class="bi bi-calendar"></i> 2024-12-01</p>
                        </div>
                    </div>
                    <hr>
                    <h5 class="fw-bold">Precio Total <span id="total-price" class="text-success">$4,800.00</span></h5>
                    <button id="realizar_pago-btn" class="btn btn-success w-100 mt-3">Realizar pago</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cantidadInput = document.getElementById('cantidad-adultos');
        const pricePerPerson = 4800.00;
        const totalPriceElement = document.getElementById('total-price');

        function updateTotalPrice() {
            const cantidad = parseInt(cantidadInput.value);
            const totalPrice = pricePerPerson * cantidad;
            totalPriceElement.textContent = `$${totalPrice.toFixed(2)}`;
        }

        document.getElementById('minus').addEventListener('click', function() {
            let cantidad = parseInt(cantidadInput.value);
            if (cantidad > 1) {
                cantidadInput.value = --cantidad;
                updateTotalPrice();
            }
        });
        
        document.getElementById('plus').addEventListener('click', function() {
            let cantidad = parseInt(cantidadInput.value);
            cantidadInput.value = ++cantidad;
            updateTotalPrice();
        });

        updateTotalPrice();

        document.getElementById('realizar_pago-btn').addEventListener('click', function() {
            window.location.href = "{% url 'pago_reservacion' %}";
        });
    });
</script>
{% endblock content %}
