{% extends "base.html" %}
{% load static %}

{% block title %}Agregar Método de Pago - Echérari Tours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'appDashboard/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'appDashboard/css/add_pago.css' %}">
{% endblock extra_styles %}

{% block content %}
<div class="row">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        {% include "client_sidebar.html" %}
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Agregar Método de Pago</h1>
        </div>
        <p>Por favor, completa el siguiente formulario para agregar un nuevo método de pago.</p>
        <hr>
        <div class="alert alert-warning" role="alert">
            <strong>¡Atención!</strong> No guardamos información de tarjetas de crédito en nuestra base de datos. Toda la información de pago es manejada por Stripe.
        </div>

        <!-- Selector del método de pago -->
        <p>Selecciona el método de pago que deseas agregar:</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="method_type" id="credit_card" value="credit_card" checked style="accent-color: #68ddbd;">
            <label class="form-check-label" for="credit_card">Tarjeta de Crédito</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="method_type" id="paypal" value="paypal" style="accent-color: #68ddbd;">
            <label class="form-check-label" for="paypal">PayPal</label>
        </div>

        <form id="payment-form" method="post" action="{% url 'add_payment_method' %}">
            {% csrf_token %}
            
            <!-- Información de la tarjeta -->
            <div id="credit-card-fields">
                <div class="form-group">
                    <label for="cardholder-name">Nombre del Titular:</label>
                    <input type="text" id="cardholder-name" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Información de la tarjeta:</label>
                    <div id="card-element" class="form-control"></div> <!-- Este es el elemento de Stripe -->
                </div>

                <div id="card-errors" role="alert" class="text-danger mt-2"></div>
            </div>

            <!-- Información de PayPal -->
            <div id="paypal-fields" style="display: none;">
                <div class="form-group">
                    <label for="paypal-email">Correo de PayPal:</label>
                    <input type="email" id="paypal-email" name="paypal_email" class="form-control">
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Agregar Método de Pago</button>
        </form>
    </main>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
    const stripe = Stripe("{{ stripe_public_key }}");
    const elements = stripe.elements();
    const cardElement = elements.create("card");
    cardElement.mount("#card-element");

    const form = document.getElementById("payment-form");
    const paypalFields = document.getElementById("paypal-fields");
    const creditCardFields = document.getElementById("credit-card-fields");
    const methodTypeRadios = document.querySelectorAll('input[type=radio][name=method_type]');

    // Mostrar/ocultar campos según el método seleccionado
    methodTypeRadios.forEach(radio => {
        radio.addEventListener('change', function() {
            if (this.value === 'credit_card') {
                creditCardFields.style.display = 'block';
                paypalFields.style.display = 'none';
            } else if (this.value === 'paypal') {
                creditCardFields.style.display = 'none';
                paypalFields.style.display = 'block';
            }
        });
    });

    // Manejar el envío del formulario para tarjetas de crédito
    form.addEventListener("submit", async (event) => {
        const selectedMethod = document.querySelector('input[name="method_type"]:checked').value;

        if (selectedMethod === "credit_card") {
            event.preventDefault();
            const cardholderName = document.getElementById("cardholder-name").value;

            const { paymentMethod, error } = await stripe.createPaymentMethod({
                type: "card",
                card: cardElement,
                billing_details: { name: cardholderName },
            });

            if (error) {
                document.getElementById("card-errors").textContent = error.message;
            } else {
                // Agregar el payment_method_id y el nombre del titular como campos ocultos en el formulario
                const hiddenPaymentMethodInput = document.createElement("input");
                hiddenPaymentMethodInput.type = "hidden";
                hiddenPaymentMethodInput.name = "stripe_payment_method_id";
                hiddenPaymentMethodInput.value = paymentMethod.id;
                form.appendChild(hiddenPaymentMethodInput);

                const hiddenNameInput = document.createElement("input");
                hiddenNameInput.type = "hidden";
                hiddenNameInput.name = "cardholder_name";
                hiddenNameInput.value = cardholderName;
                form.appendChild(hiddenNameInput);

                form.submit();
            }
        }
    });
</script>
{% endblock content %}
