{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard Cliente - Echérari Tours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'appDashboard/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'appTour/css/tours.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock extra_styles %}

{% block content %}
<div class="row">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      {% include "client_sidebar.html" %}
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        {% if reservaciones %}
        <div class="row">
        {% for reservacion in reservaciones %}
            <div class="col-md-4 mb-4">
                <a href="{% url 'detalle_tour' reservacion.tour.id %}" class="card-link" style="text-decoration: none;">
                    <div class="card">
                        <img src="{{ reservacion.tour.tour_image.url }}" class="card-img-top" alt="{{ plan.titulo }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ reservacion.tour.title }}</h5>
                            <p class="card-text">{{ reservacion.tour.descripcion }}</p>
                            <p class="card-text"><strong>Agencia:</strong> {{ reservacion.tour.agency.agency_name }}</p>
                            <p class="card-text"><strong>Total Pagado:</strong> MXN${{ reservacion.calculate_total_price }}</p>
                            <p class="card-text"><strong>Fecha del Tour:</strong> {{ reservacion.tour.start_date|date:"d M Y" }} a {{ reservacion.tour.end_date|date:"d M Y" }}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No tienes planes activos.  
        </div>
        <div>
            <a href="{% url 'tours' %}" class="btn btn-primary">Ver tours</a>
        </div>
        {% endif %}
        
    </main>
</div>
{% endblock content %}