{% extends "base.html" %}
{% load static %}

{% block title %}Reseña - Echérari Tours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'appDashboard/css/sidebar.css' %}">
{% endblock extra_styles %}

{% block content %}
<div class="row">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        {% include "client_sidebar.html" %}
    </div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center my-5">Dejar reseña</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Calificación</label>
                            <select class="form-select" name="rating" aria-label="Default select example">
                                <option selected>Selecciona una calificación</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Reseña</label>
                            <textarea class="form-control" name="review" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}