
.btn-reservar {
    background-color: #68DDBD;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.75rem 1.2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn-reservar:hover {
    background-color: #68DDBD;
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.d-flex.align-items-center {
    gap: 1rem; 
}

.alert {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0; 
}

.echerari-color {
    font-weight: bold;
    color: #68DDBD; 
}

.hotel-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover; 
    border-radius: 8px;
}


.fondo-echerari {
    background-color: #a6f6e1;
}