.card {
    border-radius: 10px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
}

.custom-badge{
    background-color: #68DDBD;
}