{% extends "base.html" %}
{% load static %}
{% block title %}Agencia registro - EcherariTours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static "appUser/css/registro.css" %}">
{% endblock extra_styles %}

{% block content %}

    <div class="container">
        <div class="registro-box">
            <h5 class="text-center">CREAR UNA CUENTA</h5>
            <div class="d-flex justify-content-center mb-4">
                <div class="step-indicator active">1</div>
                <div class="step-line"></div>
                <div class="step-indicator completed">2</div>
            </div>
            <form id="registroForm">
                <div class="mb-3">
                    <label for="nombre-agencia" class="form-label">Nombre de la agencia</label>
                    <input type="text" id="nombre-agencia" class="form-control" placeholder="Value" required>
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" id="direccion" class="form-control" placeholder="Value" required>
                </div>
                <div class="mb-3">
                    <label for="codigo-postal" class="form-label">Código postal</label>
                    <input type="text" id="codigo-postal" class="form-control" placeholder="Value" required>
                </div>
                <div class="mb-3">
                    <label for="correo-electronico" class="form-label">Correo electrónico</label>
                    <input type="email" id="correo-electronico" class="form-control" placeholder="Value" required>
                </div>
                <div class="mb-3">
                    <label for="contrasena" class="form-label">Contraseña</label>
                    <input type="password" id="contrasena" class="form-control" placeholder="Value" required>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="terminos" required>
                    <label class="form-check-label" for="terminos">Acepto <a href="{% url 'terminos_y_condiciones' %}" class="link-terminos">Términos y Condiciones </a></label>
                </div>
                <button type="submit" class="btn btn-custom">Continuar</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('registroForm').addEventListener('submit', function(event) {
            event.preventDefault(); 
            window.location.href = "{% url 'validar_agencia' %}";
        });
    </script>
    {% endblock content %}