{% extends "base.html" %}
{% load static %}
{% block title %}Contraseña Restablecida - EcherariTours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static "appUser/css/login.css" %}"> 
<link rel="stylesheet" href="{% static "appUser/css/recuperacion.css" %}"> 
{% endblock extra_styles %}

{% block content %}
<div class="login-container mt-5 mb-5">
    <div class="login-box">
        <img src="{% static 'appUser/img/cancun.jpg' %}" alt="Imagen de cancun">

        <h3 class="mt-4 mb-3">Contraseña restablecida</h3>
        <p>Tu contraseña ha sido restablecida correctamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>

        <div class="mt-4">
            <a href="{% url 'login' %}" class="btn btn-custom">Iniciar sesión</a>
        </div>
    </div>
</div>
{% endblock content %}
