{% extends "base.html" %}
{% load static %}
{% block title %}Echérari Tours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static "appUser/css/index.css" %}"> 
{% endblock extra_styles %}

{% block content %}
<div class="container-fluid col-xl-12 col-xxl-8 px-4 py-5 blur-background">
    <div class="container-fluid blur-content pt-5">
        <div class="row align-items-center g-4 py-5">
            <div class="col-md-6 d-flex justify-content-center">
                <div style="max-width: 100%; height: auto;">
                    <img src="{% static 'img/logo_eheraritours_white.png' %}" alt="Logo EcherariTours" class="img-fluid mb-3" style="max-height: 200px;">
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <h1 class="titulo text-center text-light">Echérari Tours</h1>
            </div>
        </div>
    </div>
    <hr class="mt-5 mb-3" style="border-color: white">
    <h2 class="text-center text-light pb-5 titulo">De Chihuahua a todo México: Tu aventura te espera</h2>
</div> 

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row d-flex g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5 rounded-3 border shadow-lg">
            <form method="get" action="{% url 'tours' %}" class="p-4 p-md-5 border rounded-3 bg-body-tertiary rounded-3 border shadow-lg mt-2 my-4" style="background-color: #68DDBD">
                <h1 class="text-center">Encuentra el viaje que quieres</h1>
                <h4 class="text-center">Planifica con precisión, explora sin límites.</h4>
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="destination_place">Lugar de destino:</label>
                        <input type="text" name="destination_place" id="destination_place" placeholder="Lugar de destino" class="form-control">
                    </div>
                    <div class="col">
                        <label for="precio">Precio máximo:</label>
                        <input type="number" name="precio" id="precio" placeholder="Precio máximo" class="form-control">
                    </div>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-secondary">Filtrar</button>
            </form>
        </div>
        <div class="col-md-10 mx-auto col-lg-5 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/mexico.png' %}" alt="Mapa de México" class="img-fluid map-image">
        </div>
    </div>
</div>

<!-- Línea para separar secciones -->
<div class="w-100 linea-color"></div>

<hr class="my-4" style="border-color: black">

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for tour in tours %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ tour.tour_image.url }}" class="d-block w-100 shadow-lg" alt="..." style="background-color: transparent;">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Ultimos tours registrados</h1>
            <p class="lead">Explora los tours más recientes publicados por agencias de viajes por todo México. Esta es tu oportunidad de agendar esas vacaciones que tanto esperas!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="{% url "tours" %}" class="w-100 btn btn-lg" style="background-color: #68DDBD; color: white;">Ir a tours</a>
            </div>
        </div>
    </div>
</div>

<!-- Sección últimas reseñas -->
<div class="container-fluid py-5 fondo-verde-claro">
    <h3 class="text-center mb-5">Últimas reseñas</h3>
    {% if reviews %}
        <div class="card-columns">  
            {% for review in reviews %}
                <div class="card p-3 shadow-sm border-0 mt-5">
                    <div class="card-body text-center">
                        {% comment %} <img src="{% if profile_image_url %}{{ profile_image_url }}{% else %}{% static 'img/default_profile.jpg' %}{% endif %}" 
                                alt="Perfil" class="rounded-circle" style="height: 40px; width: 40px;">  {% endcomment %}
                        <img src="{% if review.reservation.client.profile_image.url %}{{ review.reservation.client.profile_image.url }}{% else %}{% static 'img/default_profile.jpg' %}{% endif %}" alt="Perfil" class="rounded-circle mb-3" style="height: 6rem; width: 6rem;"> 

                        <div class="d-flex justify-content-center mb-3">
                            {% for star in review.get_stars %}
                            <span class="star {% if star == 1 %}filled{% endif %}">★</span>
                            {% endfor %}
                        </div>                            

                        <h5 class="card-title font-weight-bold mb-2"> {{ review.reservation.tour.title }} </h5>
                        <p class="card-text">"{{ review.review_text }}"</p>

                        <p class="card-text font-weight-bold">
                            Por: {{ review.reservation.client.first_name }} - {{ review.review_date }}
                        </p>
                    </div>
                </div>        
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center" role="alert">
            No hay reseñas disponibles
        </div>
    {% endif %}
</div>

{% endblock content %}