{% extends "base.html" %}
{% load static %}
{% block title %}Echérari Tours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static "appUser/css/index.css" %}"> 
{% endblock extra_styles %}

{% block content %}
<div class="container-fluid col-xl-12 col-xxl-8 px-4 py-5 blur-background">
    <div class="container blur-content">
        <div class="row align-items-center g-lg-5 py-5"> 
            <div class="col-md-10 mx-auto col-lg-5 d-flex align-items-center">
                <img src="{% static 'img/logo_eheraritours.png' %}" alt="Logo EcherariTours">
            </div>
            <div class="col-md-10 mx-auto col-lg-5 d-flex align-items-center">
                <h1 class="ms-3 mb-0 titulo">Echérari Tours</h1>
            </div>
        </div>
    </div>
    <hr class="my-4" style="border-color: white">
    <h2 class="text-center text-light">De Chihuahua a todo México: Tu aventura te espera</h2>
</div> 

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row d-flex g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5 rounded-3 border shadow-lg">
            <form method="get" action="{% url 'tours' %}" class="p-4 p-md-5 border rounded-3 bg-body-tertiary rounded-3 border shadow-lg mt-2 my-4" style="background-color: #68DDBD">
                <h1 class="text-center">Encuentra el viaje que quieres</h1>
                <h4 class="text-center">Planifica con precisión, explora sin límites.</h4>
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="destination_place">Lugar de destino:</label>
                        <input type="text" name="destination_place" id="destination_place" placeholder="Lugar de destino" class="form-control">
                    </div>
                    <div class="col">
                        <label for="precio">Precio máximo:</label>
                        <input type="number" name="precio" id="precio" placeholder="Precio máximo" class="form-control">
                    </div>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-secondary">Filtrar</button>
            </form>
        </div>
        <div class="col-md-10 mx-auto col-lg-5 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/mexico.png' %}" alt="Mapa de México" class="img-fluid map-image">
        </div>
    </div>
</div>

<!-- Línea para separar secciones -->
<div class="w-100 linea-color"></div>

<hr class="my-4" style="border-color: black">

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for tour in tours %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ tour.tour_image.url }}" class="d-block w-100 shadow-lg" alt="..." style="background-color: transparent;">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Ultimos tours registrados</h1>
            <p class="lead">Explora los tours más recientes publicados por agencias de viajes por todo México. Esta es tu oportunidad de agendar esas vacaciones que tanto esperas!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="{% url "tours" %}" class="w-100 btn btn-lg" style="background-color: #68DDBD; color: white;">Ir a tours</a>
            </div>
        </div>
    </div>
</div>

<!-- Sección últimas reseñas -->
<div class="container-fluid py-5 fondo-verde-claro">
    <h3 class="text-center mb-4">Últimas reseñas</h3>
    {% if reviews %}
    <div class="card-columns">  
        {% for review in reviews %}
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">{{ review.reservation.tour.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Calificación: {{ review.rating }}💫</h6>
                <img src="{% if profile_image_url %}{{ profile_image_url }}{% else %}{% static 'img/default_profile.jpg' %}{% endif %}" 
                     alt="Perfil" class="rounded-circle mx-auto d-block" style="height: 100px; width: 100px;">
                <p class="card-text"> {{ review.review_text }}</p>
                <p class="card-text"><small class="text-muted"> Por: {{ review.reservation.client.first_name }} - {{ review.review_date }} </small></p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="text-center" role="alert">
            No hay reseñas disponibles
        </div>
        {% endif %}
</div>

{% endblock content %}