{% extends "base.html" %}
{% load static %}
{% block title %}Login - EcherariTours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static "appUser/css/login.css" %}"> 
{% endblock extra_styles %}

{% block content %}
<div class="login-container mt-5 mb-5">
    <div class="login-box">
        <img src="{% static 'appUser/img/cancun.jpg' %}" alt="Imagen de cancun">
        <form>
            <h3 class="mt-4 mb-3">Iniciar sesión</h3>
            <div class="mb-4">
                <input type="email" class="form-control" placeholder="Correo electrónico" required>
            </div>
            <div class="mb-4">
                <input type="password" class="form-control" placeholder="Contraseña" required>
            </div>
            <button type="submit" class="btn btn-custom">Iniciar sesión</button>
            <div class="mt-4">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>

            <!-- Línea divisora -->
            <div class="divider"><span>o</span></div>

            <!-- Botones para inicio de sesión social con imágenes -->
            <div class="social-btn">
                <a href="#">
                    <img src="{% static 'appUser/img/google.png' %}" alt="Iniciar con Google">
                </a>
                <a href="#">
                    <img src="{% static 'appUser/img/facebook.png' %}" alt="Iniciar con Facebook">
                </a>
                <a href="#">
                    <img src="{% static 'appUser/img/apple.png' %}" alt="Iniciar con Apple">
                </a>
            </div>

            <div class="mt-4">
                <p>¿No eres miembro? <a href="{% url "seleccion_registro" %}">Regístrate</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
