{% extends "base.html" %}
{% load static %}
{% block title %}Login - EcherariTours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'appUser/css/login.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
{% endblock extra_styles %}

{% block content %}
<div class="login-container my-5">
    <div class="login-box">
        <img src="{% static 'appUser/img/cancun.jpg' %}" alt="Imagen de cancun">


        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <h3 class="mt-4 mb-3">Iniciar sesión</h3>
        
            <div class="mb-4">
                <label class="form-label" for="email">Nombre de usuario</label>
                <input type="email" name="email" class="form-control" placeholder="Ingrese su correo electrónico" required>
            </div>
        
            <div class="mb-4">
                <label class="form-label">Contraseña</label>
                <div class="input-group">
                    <input type="password" name="password" class="form-control" placeholder="Ingrese su contraseña" required>
                    <span class="input-group-text">
                        <i class="bi bi-eye-slash" id="togglePassword1" style="cursor: pointer;"></i>
                    </span>
                </div>
            </div>
        
            <input type="submit" class="btn btn-custom" value="Iniciar sesión">
        </form>              
        
        <div class="mt-4">
            <a href="#">¿Olvidaste tu contraseña?</a>
        </div>

        <div class="divider"><span>o</span></div>

        <div class="social-btn">
            <a href="#"><img src="{% static 'appUser/img/google.png' %}" alt="Iniciar con Google"></a>
            <a href="#"><img src="{% static 'appUser/img/facebook.png' %}" alt="Iniciar con Facebook"></a>
            <a href="#"><img src="{% static 'appUser/img/apple.png' %}" alt="Iniciar con Apple"></a>
        </div>

        <div class="mt-4">
            <p>¿No eres miembro? <a href="{% url 'register' %}">Regístrate</a></p>
        </div>
    </div>
</div>

<script src="{% static 'appUser/js/contrasena.js' %}"></script> 

{% endblock content %}
