{% extends "base.html" %}

{% block title %}Recuperación de Contraseña - EcherariTours{% endblock title %}

{% block content %}
<div class="login-container mt-5 mb-5">
    <div class="login-box">
        <h3 class="mt-4 mb-3">Recuperación de Contraseña</h3>
        
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" action="{% url 'envio_contra' %}">
            {% csrf_token %}
            <div class="mb-4">
                <label for="email">Correo electrónico:</label>
                <input type="email" name="email" class="form-control" placeholder="Correo electrónico" required>
            </div>
            <div class="mt-4">
                <input type="submit" class="btn btn-custom" value="Enviar instrucciones">
            </div>
        </form>

        <div class="mt-4">
            <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
        </div>
    </div>
</div>
{% endblock content %}
