{% extends "base.html" %}
{% load static %}
{% block title %}Registro - EcherariTours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static "appUser/css/registro.css" %}">  
<link rel="stylesheet" href="{% static "appUser/css/validar_agencia.css" %}">

{% endblock extra_styles %}

{% block content %}

<div class="container">
    <div class="registro-box mb-5">
        <h5 class="text-center">Crear cuenta de agencia</h5>
        <div class="d-flex justify-content-center mb-4">
            <div class="step-indicator {% if step >= 1 %}active{% endif %}">1</div>
            <div class="step-line {% if step >= 2 %}active{% endif %}"></div>
            <div class="step-indicator {% if step >= 2 %}active{% endif %}">2</div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Paso 1 -->
            {% if step == 1 %}
            <div class="mb-3">
                <label for="nombre-agencia" class="form-label">Nombre de la agencia</label>
                <input type="text" id="nombre-agencia" name="nombre-agencia" class="form-control" placeholder="Ingrese su nombre de agencia" required>
            </div>

            <div class="mb-3">
                <label for="estado" class="form-label">Estado</label>
                <input type="text" id="codigo-postal" name="estado" class="form-control" placeholder="Seleccione el estado" required>
            </div>

            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="tel" id="telefono" name="telefono" class="form-control" placeholder="Ingrese su teléfono" required>
            </div>


            <div class="mb-3">
                <label for="codigo-postal" class="form-label">Código postal</label>
                <input type="text" id="codigo-postal" name="codigo-postal" class="form-control" placeholder="Ingrese su código postal" required>
            </div>

            <button type="submit" class="btn btn-custom">Continuar</button>

            <!-- Paso 2 -->
            {% elif step == 2 %}

            <div class="mb-3">
                <label for="direccion" class="form-label">Calle</label>
                <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Ingrese la calle registrada" required>
            </div>
            
            <div class="mb-3">
                <label for="colonia" class="form-label">Colonia</label>
                <input type="text" id="colonia" name="colonia" class="form-control" placeholder="Ingrese la colonia registrada" required>
            </div>

            <div class="mb-3">
                <label for="municipio" class="form-label">Municipio</label>
                <input type="text" id="municipio" name="municipio" class="form-control" placeholder="Ingrese el municipio registrado" required>
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" id="previousButton" name="previous" value="previous" class="btn btn-secondary btn-custom-previous">Regresar</button>
                <button type="submit" class="btn btn-custom btn-custom-next">Finalizar Registro</button>
            </div>
            {% endif %}

        </form>
    </div>
</div>

<script src="{% static 'appUser/js/boton_regresar.js' %}"></script> 

{% endblock content %}