{% extends "base.html" %}
{% load static %}
{% block title %}Registro - EcherariTours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'appUser/css/seleccion_registro.css' %}"> 
{% endblock extra_styles %}

{% block content %}
    <div class="registro-box">
        <h2>Selecciona un perfil</h2>
        <div class="options-container">
            <div class="option">
                <img src="{% static 'appUser/img/viajero_icon.png' %}" alt="Icono de Viajero">
                <a href="{% url 'registrar_cliente' %}"><button class="btn btn-custom">Soy un Viajero</button></a>
            </div>
            <div class="divider"></div>
            <div class="option">
                <img src="{% static 'appUser/img/empresa_icon.png' %}" alt="Icono de Empresa">
                <a href="{% url 'registrar_agencia' %}"><button class="btn btn-custom">Soy una Empresa</button></a>
            </div>
        </div>
    </div>
{% endblock content %}
