{% extends "base.html" %}
{% load static %}
{% block title %}{{ agencia.agency_name }}- Echérari Tours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static "appTour/css/detalle_agencia.css" %}">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
{% endblock extra_styles %}

{% block content %}


<div class="container-fluid p-0">
    <div>
        <img src="{% if agencia.cover_photo %}{{ agencia.cover_photo.url }}{% else %}{% static 'img/cover_default.png' %}{% endif %}" class="card-img-top img-fluid" alt="{{ agencia.agency_name }} portada" style="height: 400px; object-fit: cover;">
    </div>
    <!-- Banner con información de la agencia -->
    <div class="container my-3">
        <div class="row justify-content-center">
            <!-- Bloque 1: Imagen -->
            <div class="col-lg-5 d-flex align-items-center justify-content-center mb-4 px-5">
                {% if agencia.profile_image %}
                    <img src="{{ agencia.profile_image.url }}" alt="Foto de perfil" width="300" class="img-fluid rounded-circle logo">
                {% else %}
                    <img src="{% static 'img/default_profile.jpg' %}" alt="Foto de perfil" width="300" class="img-fluid rounded-circle logo">
                {% endif %}
            </div>

            <!-- Bloque 2: Nombre de la agencia -->
            <div class="col-lg-7 text-center mt-3 mb-3 px-5">
                <h2 class="font-weight-bold">{{ agencia.agency_name }}</h2>
                <hr class="divider">
            </div>
    
            <!-- Bloque 3: Acerca de nosotros -->
            <div class="col-lg-5 text-center mb-3 px-5">
                <h5 class="font-weight-bold">Acerca de nosotros:</h5>
                <p> {% if agencia.agency_description %} {{ agencia.agency_description }} {% else %} Sin descripcion {% endif %}  </p>
                {% if rating %}
                <p > <span class"star filled">★</span>{{ rating }}</p>
                {% else %}
                <p > <span class"star">★</span> Sin calificación</p>
                {% endif %}
                
            </div>
    
            <!-- Bloque 4: Contacto -->
            <div class="col-lg-7 text-center mb-3 px-5">
                <h5 class="font-weight-bold">Contacto</h5>
                <p>{{ agencia.address }}</p>
                <p>{{ agencia.phone }}</p>
                <p><a href="mailto:hola@sovtravel.com.mx"> {{ mail }}</a></p>
            </div>
        </div>
    </div>   
</div> 
<div class="container my-5 heroe">
    <h3 class="text-center mb-4" style="color: #2E8B57;">Localización de la agencia</h3>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body p-0">
                    <iframe
                        width="100%"
                        height="450"
                        style="border:0"
                        loading="lazy"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/place?key={{ google_api }}&q={{ agencia.state }},{{ agencia.address }}">
                    </iframe>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- Sección de Tours -->
<section class="tours-section my-5">
    <h3 class="text-center font-weight-bold"> Tours de {{ agencia.agency_name }}</h3>
    <div class="container my-4">
        <div class="row">
            {% for tour in tours %}
                <div class="col-lg-6 col-md-6 mb-4">
                    <a href="{% url 'detalle_tour' tour.id %}" class="card-link" style="text-decoration: none;">
                        <div class="card">
                            <img src="{{ tour.tour_image.url }}" class="img-fluid" alt="Imagen del tour" style="width: 100%; height: 100%; max-height: 180px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="font-weight-bold text-center">{{ tour.title }}</h5>
                                <p class="text-muted">Desde <span class="span-echerari">{{ tour.start_date }}</span> hasta <span class="span-echerari">{{ tour.end_date }}</span></p>
                                <p><i class="fas fa-plane"></i> De <span class="span-echerari">{{ tour.place_of_origin }}</span> a <span class="span-echerari">{{ tour.destination_place }}</span></p>
                                <p><i class="fas fa-users"></i> Para <span class="span-echerari"> {{ tour.capacity }} personas</span></p>
                                <div class="price-section">
                                    <p class="precio"><span class="span-echerari">MXN ${{ tour.price_per_person }}</span> por persona</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>    
</section>



<div class="container-fluid py-5 fondo-verde-claro">
    <h3 class="text-center mb-5">Últimas reseñas</h3>
    {% if reviews %}
        <div class="row">
            {% for review in reviews %}
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card-reviews p-3 shadow-sm border-0">
                        <div class="card-body-reviews text-center">
                            <img src="{% if review.reservation.client.profile_image.url %}{{ review.reservation.client.profile_image.url }}{% else %}{% static 'img/default_profile.jpg' %}{% endif %}" alt="Perfil" class="rounded-circle mb-3" style="height: 6rem; width: 6rem;"> 

                            <div class="d-flex justify-content-center mb-3">
                                {% for star in review.get_stars %}
                                <span class="star {% if star == 1 %}filled{% endif %}">★</span>
                                {% endfor %}
                            </div>                            

                            <h5 class="card-title-reviews font-weight-bold mb-2">{{ review.reservation.tour.title }}</h5>
                            <p class="card-text-reviews">"{{ review.review_text }}"</p>

                            <p class="card-text-reviews font-weight-bold">
                                Por: {{ review.reservation.client.first_name }} - {{ review.review_date }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center" role="alert">
            No hay reseñas disponibles
        </div>
    {% endif %}
</div>

{% endblock %}
