{% extends "base.html" %}
{% load static %}
{% block title %}Tours - Echérari Tours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'appTour/css/tours.css' %}">
{% endblock extra_styles %}

{% block content %}
<div class="container-fluid col-xl-10 col-xxl-8 px-4 py-5" style="background: linear-gradient(135deg, #68DDBD 0%, #12AB81 100%); border-radius: 15px;">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3" style="color: #fff;">Encuentra el viaje que quieres.</h1>
            <p class="col-lg-10 fs-4">Ingresa el lugar al que quieres ir o el presupuesto que tienes, o ambos! Encontrarás viajes perfectos para ti.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form method="get" action="{% url 'tours' %}" class="container mt-4">
                <h2 style="color: #fff;">Filtrar viajes</h2>
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="destination_place" style="color: #e0e0e0;">Lugar de destino:</label>
                        <input type="text" name="destination_place" id="destination_place" placeholder="Lugar de destino" class="form-control" value="{{ request.GET.destination_place }}">
                    </div>
                    <div class="col">
                        <label for="precio" style="color: #e0e0e0;">Precio máximo:</label>
                        <input type="number" name="precio" id="precio" placeholder="Precio máximo" class="form-control" value="{{ request.GET.precio }}">
                    </div>
                    <div class="col-12 text-center mt-3">
                        <button type="submit" class="btn btn-light btn-lg">Filtrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<section class="tours-section" >
    <div class="container my-4">
        {% if tours %}
        <div class="row">
            {% for tour in tours %}
                <div class="col-lg-6 col-md-6 mb-4">
                    <a href="{% url 'detalle_tour' tour.id %}" class="card-link" style="text-decoration: none;">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="font-weight-bold text-center">{{ tour.title }}</h5>
                                <img src="{{ tour.tour_image.url }}" class="img-fluid" alt="Imagen del tour" style="width: 100%; height: 100%; max-height: 150px; object-fit: cover;">
                                <p class="text-muted">Desde <span class="span-echerari">{{ tour.start_date|date:"d M Y" }}</span> hasta <span class="span-echerari">{{ tour.end_date|date:"d M Y" }}</span></p>
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane-fill" viewBox="0 0 16 16">
                                        <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849"/>
                                    </svg>
                                    De <span class="span-echerari">{{ tour.place_of_origin }}</span> a <span class="span-echerari">{{ tour.destination_place }}</span></p>
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                    </svg>
                                    Para <span class="span-echerari"> {{ tour.capacity }} personas</span></p>
                                <div class="price-section">
                                    <p class="precio"><span class="span-echerari">MXN ${{ tour.price_per_person }}</span> por persona</p>
                                </div>
                                <p class="span-echerari">Empresa: {{ tour.agency.agency_name }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No hay tours disponibles.
        </div>
        {% endif %}
    </div>    
</section>

<section class="reviews-section">
    <div class="container-fluid py-5 fondo-verde-claro">
        <h3 class="text-center mb-4">Últimas reseñas</h3>
        {% if reviews %}
        <div class="card-columns">  
            {% for review in reviews %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ review.reservation.tour.title }}</h5>
                    <p class="card-text"> {{ review.review_text }}</p>
                    <p class="card-text"><small class="text-muted"> Por: {{ review.reservation.client.first_name }} - {{ review.review_date }} </small></p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No hay reseñas disponibles.    
        </div>
        {% endif %}
    </div>
</section>

{% endblock content %}