{% extends "base.html" %}
{% load static %}
{% block title %}Tours - Echérari Tours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'appTour/css/tours.css' %}">
{% endblock extra_styles %}

{% block content %}

<form method="get" class="container mt-4">
    <h1>Encuentra el viaje que quieres</h1>
    <div class="form-row mb-3">
        <div class="col">
            <label for="precio">Precio máximo:</label>
            <input type="number" name="precio" id="precio" placeholder="Precio máximo" class="form-control" required>
        </div>
        <div class="col">
            <label for="lugar">Lugar:</label>
            <input type="text" name="lugar" id="lugar" placeholder="Lugar" class="form-control" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<section class="tours-section">
    <div class="container my-4">
        {% if tours %}
        <div class="row">
            {% for tour in tours %}
                <div class="col-lg-6 col-md-6 mb-4">
                    <a href="{% url 'detalle_tour' tour.id %}" class="card-link" style="text-decoration: none;">
                        <div class="card">
                            <img src="{{ tour.tour_image.url }}" class="card-img-top" alt="{{ tour.title }}">
                            <div class="card-body">
                                <h5 class="font-weight-bold text-center">{{ tour.title }}</h5>
                                <p class="text-muted">Desde <span class="span-echerari">{{ tour.start_date }}</span> hasta <span class="span-echerari">{{ tour.end_date }}</span></p>
                                <p><i class="fas fa-plane"></i> De <span class="span-echerari">{{ tour.place_of_origin }}</span> a <span class="span-echerari">{{ tour.destination_place }}</span></p>
                                <p><i class="fas fa-users"></i> Para <span class="span-echerari"> {{ tour.capacity }} personas</span></p>
                                <div class="price-section">
                                    <p class="precio"><span class="span-echerari">MXN ${{ tour.price_per_person }}</span> por persona</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No hay tours disponibles.
        </div>
        {% endif %}
    </div>    
</section>

<section class="reviews-section">
    <div class="container-fluid py-5 fondo-verde-claro">
        <h3 class="text-center mb-4">Últimas reseñas</h3>
        {% if reviews %}
        <div class="card-columns">  
            {% for review in reviews %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ review.reservation.tour.title }}</h5>
                    <p class="card-text"> {{ review.review_text }}</p>
                    <p class="card-text"><small class="text-muted"> Por: {{ review.reservation.client.first_name }} - {{ review.review_date }} </small></p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No hay reseñas disponibles.    
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}