.editar {
    background-color: #68ddbd;
    border-radius: 5px;
    padding: 5px 10px;
    color: #1c3d3a !important;
    display: inline-block;
    width: auto;
    text-align: center;
}
/* Contenedor para el label de la imagen de perfil */
.profile-image-label {
    position: relative;
    cursor: pointer;
}

/* Imagen de perfil con un efecto de opacidad */
.profile-image {
    transition: opacity 0.3s ease;
}

/* Estilos para la superposición de texto */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Mostrar la superposición al pasar el cursor */
.profile-image-label:hover .overlay {
    opacity: 1;
}

/* Cambiar la opacidad de la imagen al pasar el cursor */
.profile-image-label:hover .profile-image {
    opacity: 0.7;
}
