{% load static %}

<div class="container-fluid bg-light text-center mt-5">
    <footer class="py-4">
        <div class="row">
            <div class="col-md-3">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li><a href="#">echeraritours@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Sobre nosotros</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'sobre_nosotros' %}">Quiénes somos</a></li>
                    <li><a href="#">Misión</a></li>
                    <li><a href="#">Visión</a></li>
                    <li><a href="#">Valores</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Términos legales y privacidad</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'terminos_legales' %}">Términos y condiciones</a></li>
                    <li><a href="{% url 'terminos_legales' %}#aviso-privacidad">Aviso de privacidad</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>¿Necesitas ayuda?</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'necesitas_ayuda' %}">Preguntas frecuentes (FAQs)</a></li>
                    <li><a href="{% url 'necesitas_ayuda' %}#politicas-cancelacion">Políticas de cancelación</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <ul class="nav justify-content-center border-top pt-3">
                <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-body-secondary">Inicio</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Tours</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Agencias</a></li>
            </ul>
            <p class="text-body-secondary">&copy; 2024 EchérariTours</p>
        </div>
    </footer>
</div>

