{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top mb-5">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
        <img src="{% static 'img/logo_eheraritours.png' %}" alt="Echérari Tours" style="height: 40px;" class="mr-2">
        <h5 class="mb-0">Echérari Tours {% if user.is_authenticated %} - Bienvenid@ {{ user.username }} {% endif %} </h5>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <a class="nav-link fw-bolder" href="{% url 'tours' %}">Tours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bolder" href="{% url 'agencias' %}">Agencias</a>
        </li>

        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link fw-bolder" href="{% url "dashboard" %}">Dashboard</a>
            </li>

            {% if not is_client_registered and not is_agency_registered %}
            <li class="nav-item">
                <a class="nav-link fw-bolder" href="{% url "seleccion_registro" %}">Finalizar registro</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link fw-bolder" type="button" data-bs-toggle="modal" data-bs-target="#logoutmodal">
                    Cerrar sesion
                </a>
                <!-- Modal -->

            </li>
            
        {% endif %}

        {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link fw-bolder" href="{% url 'login' %}">Iniciar sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link registrar fw-bolder" href="{% url 'register' %}">Registrarse</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="logoutmodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cerrar Sesion</h1>
        </div>
        <div class="modal-body">
          ¿Estas seguro que deseas cerrar sesion?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a type="button" class="btn btn-danger" href="{% url 'logout' %}">Cerrar sesion</a>
        </div>
      </div>
    </div>
</div>       