{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard Agencia - Echérari Tours{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'appDashboard/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'appDashboard/css/inicio_a.css' %}">
{% endblock extra_styles %}

{% block content %}
<div class="row">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        {% include "agency_sidebar.html" %}
    </div>

    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="dashboard-header d-flex justify-content-between align-items-center pt-3 pb-2 mb-3">
            <h1 class="dashboard-title" style="color: #68ddbd; font-size: 2.5rem; font-weight: 500;transform: translate(10px, 14px);">Dashboard</h1>
    </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card perfil h-100" style="min-height: 500px;">
                    <img src="{% static 'img/user.png' %}" alt="User Profile" class="profile-image" style="margin-top: 50px;">
                    <h5>Perfil</h5>
                    <p>Administra tu perfil</p>
                    <a href="{% url 'agency_profile' %}" class="btn btn-primary">Ver perfil</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card planes-activos">
                    <img src="{% static 'img/carrito1.png' %}" alt="User Profile" class="profile-image" style="margin-top: 5px;">
                    <h5>Planes Activos</h5>
                    <p>Administra tus planes activos</p>
                    <a href="{% url 'tours_dashboard' %}" class="btn btn-primary">Ver planes activos</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card metodos-pago">
                    <img src="{% static 'img/tarjeta.png' %}" alt="Métodos de pago" class="pago-active">
                    <h5>Métodos de Pago</h5>
                    <p>Administra tus métodos de pago</p>
                    <a href="{% url 'payment_methods_agency' %}" class="btn btn-primary">Ver métodos de pago</a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-8 offset-lg-4" style="margin-top: -180px;">
                <div style="position: relative; top: -7px;">
                <div class="card reportes" style="display: grid; grid-template-columns: auto 1fr; align-items: center; padding: 20px; gap: 20px; text-align: right;">
                    
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img src="{% static 'img/report1.png' %}" alt="Reportes Icon" style="width: 120px; height: 120px; margin-right: 10px;">
                    </div>
                    <div style="text-align: left;">
                        <h5 style="margin: 0; color: #68ddbd; font-size: 1.25rem; font-weight: bold;">Reportes</h5>
                        <p style="margin: 5px 0; color: #555; font-size: 0.9rem;">Descarga tus reportes</p>
                        <a href="{% url 'reports' %}" class="btn btn-primary" 
                            style="background-color: #68ddbd; border: none; color: #fff; padding: 10px 15px; border-radius: 5px; text-decoration: none; font-size: 0.9rem;">
                            Ver reportes
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>              
    </div>
</div>
{% endblock content %}
