{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard Cliente - Echérari Tours{% endblock title %}

{% block content %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'appDashboard/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'appDashboard/css/inicio.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
{% endblock extra_styles %}

<div class="row">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        {% include "client_sidebar.html" %}
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="dashboard-header d-flex justify-content-between align-items-center pt-3 pb-2 mb-3">
            <h1 class="dashboard-title">Dashboard</h1>
        </div>
        <div class="dashboard-container">
            <div class="card-grid">
                <a href="{% url 'client_profile' %}" class="card perfil text-decoration-none">
                    <div class="card-body">
                        <img src="{% static 'img/user.png' %}" alt="User Profile" class="profile-image">
                        <h5 class="card-title">Perfil</h5>
                        <p class="card-text">Administra tu perfil</p>
                    </div>
                </a>
                <a href="{% url 'client_active_plans' %}" class="card planes-activos text-decoration-none">
                    <div class="card-body">
                        <img src="{% static 'img/carrito1.png' %}" alt="Planes activos" class="plan-active">
                        <h5 class="card-title">Planes activos</h5>
                        <p class="card-text">Revisa los planes en los que estás inscrito</p>
                    </div>
                </a>
                <a href="{#}" class="card favoritos text-decoration-none">
                    <div class="card-body">
                        <img src="{% static 'img/favorito.png' %}" alt="Lista de favoritos" class="favoritos-icon">
                        <h5 class="card-title">Favoritos</h5>
                        <p class="card-text">Consulta y administra tu lista de favoritos</p>
                    </div>
                </a>
                <a href="{% url 'payment_methods_client' %}" class="card metodos-pago text-decoration-none">
                    <div class="card-body">
                        <img src="{% static 'img/tarjeta.png' %}" alt="Métodos de pago" class="pago-active">
                        <h5 class="card-title">Métodos de pago</h5>
                        <p class="card-text">Administra tus métodos de pago</p>
                    </div>
                </a>
                <a href="#" class="card historial text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title1">Historial</h5>
                        <p class="card-text1">Visualiza tu historial de transacciones</p>
                    </div>
                </a>
    </main>
</div>

{% endblock content %}